*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/checkstyle-idea.xml
.idea/dictionaries/
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/
.idea/thriftCompiler.xml
.idea/uiDesigner.xml
app/libs/
gradlew.bat
